body{
    font-size: 20px;
    background-color: #f9f9f9;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}
p,h1,h2,h3,ul{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    width: 1720px;
}
.header{
    padding: 41px 0px;
    border-bottom: 2px solid #779611;
}
.header-container{
    display: flex;
    gap: 120px;
    align-items: center;
}
.header-list{
    display: flex;
    gap: 80px;
}
.header-link{
    font-weight: 500;
    color: #707070;
    text-transform: capitalize;
}
.hero{
    border-bottom: 2px solid #779611;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title{
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #779611;
    padding-bottom: 50px;
    
}
.hero-text{
    font-size: 24px;
    padding-bottom: 50px;
    max-width: 580px;
}
.hero-link{
    border-radius: 40px;
    background-color: #779611;
    color: #F9F9F9;
    font-size: 32px;
    padding: 18px 70px 18px 70px;
}


.hero-img{

    padding-left:137px ;
}




.flaves{
    padding-top: 80px;
}
.flaves-title{
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    color: #779611;
    padding-bottom: 35px;
    font-size:36px ;
}
.flaves-text{
    
    padding-bottom: 50px;
}
.flaves-list{
    display: flex;
    justify-content: space-between;
}
.flaves-name{
    font-weight: 400;
    font-size: 24px;
    color:#779611;
    padding: 35px 0px 15px 60px;
}
.flaves-price{
    padding-left: 60px;
}



.subscription{
    padding-top: 80px;
}
 

.subscription-title{
     margin-bottom: 35px;  
    color: #779611;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.subscription-text{
    
    padding-bottom: 50px;
}

.subscription-list{
    display: flex;
    justify-content: space-between;
}
.subscription-name{
    padding: 35px 0px 15px 60px;
    font-weight: 400;
    font-size: 24px;
    color:#779611;
    
}
.subscription-price{
    padding-left: 60px;
    padding-bottom: 80px;
}





.about{
    border-top: 2px solid #779611;
     padding-top:114px;
    padding-bottom: 114px;
}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

   
    
}


.about-subtitle{

    color: #779611;
    font-weight: 500;
    font-size: 24px;
    font-family: "Exo 2", sans-serif;
    margin-bottom: 15px;
    
}



.about-title{
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #779611;
    padding-bottom: 50px;
    max-width: 580px;
    
}
.about-text{
    font-size: 20px;
    
    
    
}





.footer{
    padding:60px 0px 60px ;
    border-top: 2px solid #779611;

   

}

.footer-container{
    display: flex;
    justify-content: space-between;

   

}
.footer-list{
    gap: 20px;
    display: flex;
    flex-direction: column;

}
.footer-link{
    color: #000;
}

.footer-title{
    font-weight: 400;
    margin-bottom:20px ;
}

.footer-adres{
    line-height: 2.1;
}
